body {
    background-image: url("https://img4.thuthuatphanmem.vn/uploads/2020/07/05/hinh-anh-background-mau-nong-vang-cam-do_034912082.jpg");
    background-size: cover;
    display: grid;
    justify-items: center;
    padding: 10px;
}

body form {
    display: grid;
    width: 60%;
}

body form input {
    padding: 10px 20px;
}

body form input[type="submit"] {
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
body form input[type="submit"]:hover  {
    background:yellow;
}
